
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h1>Trang chủ Client</h1>
    </div>
</div>

