@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model Shop123.Entities.Model.TestModel
<h2>Index</h2>
<form @Url.Action("Index", "Test") method="post" id="demo-form2" class="form-horizontal form-label-left">
    <div class="col-md-6 col-sm-6 col-xs-12 mt07">
        <label>
            @*            <input type="checkbox" class="js-switch" name="TrangThai" checked />*@
            @Html.CheckBoxFor(model => model.TrangThai, new { @class = "js-switch", @checked = "checked", @type = "checkbox" }) Remember Me
        </label>
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</form>