
@import url('https://fonts.googleapis.com/css?family=Raleway');

html , body
{
  height:100%;
  width:100%;
  background:#f1f1f1;
  font-family: 'Raleway', sans-serif;
  overflow-x:hidden;
}

.titleBlock
{
  width:70%;
  margin-left:15%;
}

.Sitetitle:before
{
  content:"";
  width:50px;
  height:2px;
  background:#000;
  position: absolute;
  margin-top:18px;
  margin-left:-60px;
}

.Sitetitle:after
{
  content:"";
  width:50px;
  height:2px;
  background:#000;
  position: absolute;
  margin-top:18px;
  margin-left:8px;
}

.displayWrapper
{
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
  padding: 10px;
  width:320px;
  margin-top:20px;
}
.displayBox
{
  width:300px;
  height:300px;
  overflow: hidden;   
}
.displayBox img
{
  width:100%;
  -webkit-transition: all 5s ease;
    transition: all 5s ease;
  position:relative;
}
.displayBox img:hover
{
  cursor:pointer;
   transform: translateY(-83.7%);
}


/*Thats all. I hope you enjoyed it.
Thanks :)*/
/***************************************************************/
/*************** Footer Bar Style ******************************/
/***************************************************************/
.footer-bar
{
    display: block;
    width: 100%;
    height: 45px;
    line-height: 45px;
    background: #111;
    border-top: 1px solid #E62600;
    position: fixed;
    bottom: 0;
    left: 0;
}
.footer-bar .article-wrapper{
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #888;
    float: left;
    margin-left: 10%;
}
.footer-bar .article-link a, .footer-bar .article-link a:visited{
    text-decoration: none;
    color: #fff;
}
.site-link a, .site-link a:visited{
    color: #888;
    font-size: 14px;
    font-family: arial, sans-serif;
    float: right;
    margin-right: 10%;
    text-decoration: none;
}
.site-link a:hover{
    color: #E62600;
}