body{width: 1000px; margin: 0 auto;}
#header{height: 100px; background-color: #dddddd;}
#logo{height: 60px}
#main{height: 300px; background-color: #666666}

.nav{
    border-top:1px solid #999999;
    border-bottom:1px solid #999999;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
    padding:10px 30px;
}
.nav a{
    display:inline-block;
    text-decoration: none;
    margin: 8px 0;
}
.nav a:hover{
    color: red;
}