@charset "UTF-8";

body {
	color:#606060;
	font-size:12px;
	line-height:1.5;
	background-image: url(../common_img/bg.png);
	background-repeat: repeat;
}

.dl_style3 { border:1px solid #ddd; margin:10px auto 0; width:300px; clear:both; }
.dl_style3 dt { cursor: pointer; padding:5px 10px 6px 10px; position:relative; font-weight:bold; border-top:1px solid #ddd; font-size:14px; color:#988d49;  text-shadow:1px 1px 1px #fff; }
.dl_style3 dd { padding:5px 10px 20px; border-top:1px solid #ddd; background-color:#fff; }
.dl_style3 .open {
	background-image: url(../guide/images/drop_bg.jpg);
	background-repeat: no-repeat;
	background-position: center center; }
.dl_style3 dt,
.dl_style3 .close {
	background-image: url(../guide/images/drop_bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	}
.dl_style3 dt:first-child { border-top:none; }

.dl_style3 dt:before { content:'▲'; float:right; -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); }
.dl_style3 dt.open:before { content:'▲'; float:right; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); }


