body{width: 1000px; margin: 0 auto;}
#header{height: 100px; background-color: #dddddd;}
#logo{height: 60px}
#main{height: 300px; background-color: #666666}

#outer{text-align:center; padding:5px;}
.navwrap ul{list-style:none; margin:0; padding:0; }
.navwrap li{border:1px solid #eff2df; float:left; margin:0 10px 0 0; background:#809900;}
.navwrap li a{float:left; border:1px solid #4c7300; position:relative; left:-2px; top:-2px; background:#eff2df; color:#4c7300; text-decoration:none; padding:6px 10px; font-weight:bold; transition: 0.5s}
.navwrap li a:hover{background:#809900; color:#fff;}
.clearer{height:1px; overflow:hidden; margin-top:-1px; clear:both;}