

#max-img{position: relative; width: 600px; height: 400px; float: left}
#max-img div.img{position: absolute;}



#min-img{float: right}
#min-img ul{margin: 0; padding: 0}
#min-img ul li{list-style: none}

.off{opacity: 0;transition: 0.5s}
.on{opacity: 1; transition: 1s}

a{opacity: 1}
a:hover{opacity: 0.5; transition: 0.5s}
